@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  background: #111;
  color: #fff;
}
.noSelect {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.noSelect:focus {
  outline: none !important;
}
body.light {
  background: #fff;
  color: #000;
}
#toolbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  line-height: 25px;
  padding: 10px;
  box-sizing: border-box;
  transition: 0.15s;
  opacity: 1;
  z-index: 999999999;
  animation: 3s toolbar ease-in-out;
}
/* #toolbar:hover {
  opacity: 1;
}
@keyframes "toolbar" {
  0%,
  50% {
    opacity: 1;
  }
} */

#intro {
  position: fixed;
  top: 25%;
  /* left: 42%; */
  display: flex;
  flex-direction: column;
  width: 100%;
  text-align: center;
}

.typing {
  width: 10ch;
  animation: typing 1s steps(10), blink 0.5s step-end alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: normal;
  font-size: 3em;
  margin-inline: auto;
}

@keyframes typing {
  from {
    width: 0;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

.typing-2 {
  display: none;
  width: 11ch;
  animation: typing 2s steps(11), blink 0.5s step-end alternate infinite;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: normal;
  font-size: 6em;
  margin-inline: auto;
}

.typing-ingame-1 {
  width: 18ch;
  animation: typing 2s steps(18), blink 0.5s step-end alternate infinite;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: normal;
  font-size: 2em;
  margin-inline: auto;
}

.typing-ingame-2 {
  opacity: 0;
  width: 17ch;
  animation: typing 3s 2s steps(17), blink 0.5s step-end alternate infinite;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: normal;
  font-size: 2em;
  margin-inline: auto;
}

.typing-ingame-3 {
  opacity: 0;
  width: 28ch;
  animation: typing 3s 6.25s steps(28), blink 0.5s step-end alternate infinite;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: normal;
  font-size: 2em;
  margin-inline: auto;
}

.typing-win-1 {
  width: 27.25ch;
  animation: typing 3s steps(27), blink 0.5s step-end alternate infinite;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: normal;
  font-size: 2em;
  margin-inline: auto;
}

.typing-win-2 {
  width: 31ch;
  animation: typing 3s steps(31), blink 0.5s step-end alternate infinite;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: normal;
  font-size: 2em;
  margin-inline: auto;
}

.typing-win-3 {
  width: 27.5ch;
  animation: typing 3s steps(27), blink 0.5s step-end alternate infinite;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: normal;
  font-size: 2em;
  margin-inline: auto;
}

.typing-finished {
  width: 13ch;
  animation: typing 2s steps(13), blink 0.5s step-end alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: normal;
  font-size: 4em!important;
  margin-inline: auto;
}

.typing-construct {
  opacity: 0;
  width: 26ch;
  animation: typing 3s 2s steps(26), blink 0.5s step-end alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: normal;
  font-size: 4em!important;
  margin-inline: auto;
}

#theme {
  padding-right: 15px;
  float: left;
}
#toolbar .link {
  float: right;
}
#toolbar a {
  color: inherit;
  text-decoration: none;
}
#win,
#finished {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: inherit;
  color: inherit;
  z-index: 9999;
  display: none;
}
#win .text {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 25px;
  font-weight: 100;
  transform: translate3d(-50%, -50%, 0);
}
#finished .text {
  position: absolute;
  top: 30%;
  left: 50%;
  font-size: 25px;
  font-weight: 100;
  transform: translate3d(-50%, -50%, 0);
}
#finished .typing-construct {
  top: 40%
}
body.light #win .text,
body.light #finished .text {
  color: #111 !important;
}
div[class^="level"] {
  position: fixed;
  top: 50%;
  left: 0;
  right: 0;
  margin-inline: auto;
  width: 280px;
  animation: fadeIn ease 3s;
  /* transform: translate3d(-50%, -50%, 0); */
  display: none;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

div[class^="level"] .text {
  font-size: 19px;
  /* padding-top: 20px; */
  margin-top: 0px;
  clear: both;
  overflow: hidden;
}
div[class^="level"] .text span {
  padding: 10px 0 0;
  font-size: 15px;
  display: block;
}
div[class^="level"] .text.center {
  text-align: center;
}
div[class^="level"] .block,
#createLevel .newLevel .block {
  position: relative;
  width: 70px;
  height: 70px;
  float: left;
  cursor: pointer;
  overflow: hidden;
  opacity: 0;
  /* transition: 0.15s ease-in-out; */
  animation: game 1s 4s ease-in;
}

/* @keyframes game {
  0% {
    opacity: 0;
  } 
  100% {
    opacity: 1;
  }
} */

.block {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.block:focus {
  outline: none !important;
}

div[class^="level"] .block.curve:before,
#createLevel .newLevel .block.curve:before {
  position: absolute;
  top: 0;
  left: 0;
  width: 70px;
  height: 70px;
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/363972/curve.png)
    50% 50% / contain no-repeat;
  display: block;
  content: "";
}
div[class^="level"] .block.curve.double:before,
#createLevel .newLevel .block.curve.double:before {
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/363972/curve-double.png)
    50% 50% / contain no-repeat;
}
div[class^="level"] .block.straight:before,
#createLevel .newLevel .block.straight:before {
  position: absolute;
  top: 0;
  left: 0;
  width: 70px;
  height: 70px;
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/363972/straight.png)
    50% 50% / contain no-repeat;
  display: block;
  content: "";
}
div[class^="level"] .block.straight.double:before,
#createLevel .newLevel .block.straight.double:before {
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/363972/straight-double.png)
    50% 50% / contain no-repeat;
}
div[class^="level"] .block.end:before,
#createLevel .newLevel .block.end:before {
  position: absolute;
  top: 0;
  left: 0;
  width: 70px;
  height: 70px;
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/363972/end.png)
    50% 50% / contain no-repeat;
  display: block;
  content: "";
}

body.light div[class^="level"] .block,
body.light #createLevel .newLevel .block {
  -webkit-filter: invert(1);
  filter: invert(1);
}
div[class^="level"] .block.r1,
#createLevel .newLevel .block.r1 {
  transform: rotate(0deg);
}
div[class^="level"] .block.r2,
#createLevel .newLevel .block.r2 {
  transform: rotate(90deg);
}
div[class^="level"] .block.r3,
#createLevel .newLevel .block.r3 {
  transform: rotate(180deg);
}
div[class^="level"] .block.r4,
#createLevel .newLevel .block.r4 {
  transform: rotate(270deg);
}

#createLevel {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: inherit;
  color: inherit;
  z-index: 99999;
  display: none;
}
#createLevel .newLevel {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 280px;
  transform: translate3d(-50%, -50%, 0);
}
#createLevel .newLevel .block {
  border: 1px solid #fff;
  box-sizing: border-box;
}
#createLevel .stats {
  position: absolute;
  bottom: 80px;
  width: 100%;
  height: 25px;
  line-height: 25px;
  text-align: center;
}
#createLevel .tools {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 280px;
  height: 80px;
  transform: translate3d(-50%, 0, 0);
}
body.light #createLevel .tools {
  -webkit-filter: invert(1);
  filter: invert(1);
}
#createLevel .tools img {
  margin: 10px;
  width: 50px;
  height: 50px;
  float: left;
  border: 2px solid #fff;
  box-sizing: border-box;
  cursor: pointer;
  display: block;
}

@media screen and (max-width: 876px) {
  #toolbar {
    padding: 5px;
  }
  #toolbar .link {
    display: none;
  }
  #theme {
    padding-right: 0;
  }
  #intro {
    top: 20%;
    left: 0;
  }
  .text {
    font-size: 2rem;
  }
  #win .text,
  #finished .text {
    font-size: 20px;
  }
  .typing-finished {
    font-size: 1.75rem!important;
  }
  .typing-construct {
    font-size: 1.25rem!important;
  }
  div[class^="level"] {
    width: 200px;
    top: 40%;
  }
  div[class^="level"] .text {
    font-size: 15px;
  }
  div[class^="level"] .block,
  #createLevel .newLevel .block {
    width: 50px;
    height: 50px;
  }
  div[class^="level"] .block.curve:before,
  #createLevel .newLevel .block.curve:before {
    width: 50px;
    height: 50px;
  }
  div[class^="level"] .block.straight:before,
  #createLevel .newLevel .block.straight:before {
    width: 50px;
    height: 50px;
  }
  div[class^="level"] .block.end:before,
  #createLevel .newLevel .block.end:before {
    width: 50px;
    height: 50px;
  }
  #createLevel .newLevel {
    width: 200px;
  }
  #createLevel .stats {
    bottom: 60px;
  }
  #createLevel .tools {
    bottom: 0;
    width: 200px;
  }
  #createLevel .tools img {
    width: 40px;
    height: 40px;
  }
}

.checkbox {
  opacity: 0;
  position: absolute;
}

.checkbox-label {
  background-color: #fff;
  width: 50px;
  height: 16px;
  border-radius: 50px;
  /* border: 1px solid #fff; */
  position: relative;
  padding: 5px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.fa-moon {
  color: #ffffff;
}

.fa-sun {
  color: #000000;
}

.checkbox-label .ball {
  background-color: #111;
  width: 22px;
  height: 22px;
  position: absolute;
  left: 4px;
  top: 2px;
  border-radius: 50%;
  transition: transform 0.2s linear;
}

.checkbox:checked + .checkbox-label .ball {
  transform: translateX(31px);
}
