/* Importing Gilroy fonts */
@font-face {
  font-family: "Gilroy";
  src: url("./fonts/Gilroy-Regular.eot");
  src: local("Gilroy Regular"), local("Gilroy-Regular"),
    url("./fonts/Gilroy-Regular.eot?#iefix") format("embedded-opentype"),
    url("./fonts/Gilroy-Regular.woff2") format("woff2"),
    url("./fonts/Gilroy-Regular.woff") format("woff"),
    url("./fonts/Gilroy-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("./fonts/Gilroy-ExtraboldItalic.eot");
  src: local("Gilroy Extrabold Italic"), local("Gilroy-ExtraboldItalic"),
    url("./fonts/Gilroy-ExtraboldItalic.eot?#iefix") format("embedded-opentype"),
    url("./fonts/Gilroy-ExtraboldItalic.woff2") format("woff2"),
    url("./fonts/Gilroy-ExtraboldItalic.woff") format("woff"),
    url("./fonts/Gilroy-ExtraboldItalic.ttf") format("truetype");
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: "Gilroy";
  src: url("./fonts/Gilroy-Bold.eot");
  src: local("Gilroy Bold"), local("Gilroy-Bold"),
    url("./fonts/Gilroy-Bold.eot?#iefix") format("embedded-opentype"),
    url("./fonts/Gilroy-Bold.woff2") format("woff2"),
    url("./fonts/Gilroy-Bold.woff") format("woff"),
    url("./fonts/Gilroy-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("./fonts/Gilroy-Black.eot");
  src: local("Gilroy Black"), local("Gilroy-Black"),
    url("./fonts/Gilroy-Black.eot?#iefix") format("embedded-opentype"),
    url("./fonts/Gilroy-Black.woff2") format("woff2"),
    url("./fonts/Gilroy-Black.woff") format("woff"),
    url("./fonts/Gilroy-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("./fonts/Gilroy-Light.eot");
  src: local("Gilroy Light"), local("Gilroy-Light"),
    url("./fonts/Gilroy-Light.eot?#iefix") format("embedded-opentype"),
    url("./fonts/Gilroy-Light.woff2") format("woff2"),
    url("./fonts/Gilroy-Light.woff") format("woff"),
    url("./fonts/Gilroy-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("./fonts/Gilroy-Semibold.eot");
  src: local("Gilroy Semibold"), local("Gilroy-Semibold"),
    url("./fonts/Gilroy-Semibold.eot?#iefix") format("embedded-opentype"),
    url("./fonts/Gilroy-Semibold.woff2") format("woff2"),
    url("./fonts/Gilroy-Semibold.woff") format("woff"),
    url("./fonts/Gilroy-Semibold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("./fonts/Gilroy-Medium.eot");
  src: local("Gilroy Medium"), local("Gilroy-Medium"),
    url("./fonts/Gilroy-Medium.eot?#iefix") format("embedded-opentype"),
    url("./fonts/Gilroy-Medium.woff2") format("woff2"),
    url("./fonts/Gilroy-Medium.woff") format("woff"),
    url("./fonts/Gilroy-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("./fonts/Gilroy-MediumItalic.eot");
  src: local("Gilroy Medium Italic"), local("Gilroy-MediumItalic"),
    url("./fonts/Gilroy-MediumItalic.eot?#iefix") format("embedded-opentype"),
    url("./fonts/Gilroy-MediumItalic.woff2") format("woff2"),
    url("./fonts/Gilroy-MediumItalic.woff") format("woff"),
    url("./fonts/Gilroy-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "Gilroy";
  src: url("./fonts/Gilroy-BlackItalic.eot");
  src: local("Gilroy Black Italic"), local("Gilroy-BlackItalic"),
    url("./fonts/Gilroy-BlackItalic.eot?#iefix") format("embedded-opentype"),
    url("./fonts/Gilroy-BlackItalic.woff2") format("woff2"),
    url("./fonts/Gilroy-BlackItalic.woff") format("woff"),
    url("./fonts/Gilroy-BlackItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: "Gilroy";
  src: url("./fonts/Gilroy-UltraLight.eot");
  src: local("Gilroy UltraLight"), local("Gilroy-UltraLight"),
    url("./fonts/Gilroy-UltraLight.eot?#iefix") format("embedded-opentype"),
    url("./fonts/Gilroy-UltraLight.woff2") format("woff2"),
    url("./fonts/Gilroy-UltraLight.woff") format("woff"),
    url("./fonts/Gilroy-UltraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("./fonts/Gilroy-RegularItalic.eot");
  src: local("Gilroy Regular Italic"), local("Gilroy-RegularItalic"),
    url("./fonts/Gilroy-RegularItalic.eot?#iefix") format("embedded-opentype"),
    url("./fonts/Gilroy-RegularItalic.woff2") format("woff2"),
    url("./fonts/Gilroy-RegularItalic.woff") format("woff"),
    url("./fonts/Gilroy-RegularItalic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Gilroy";
  src: url("./fonts/Gilroy-SemiboldItalic.eot");
  src: local("Gilroy Semibold Italic"), local("Gilroy-SemiboldItalic"),
    url("./fonts/Gilroy-SemiboldItalic.eot?#iefix") format("embedded-opentype"),
    url("./fonts/Gilroy-SemiboldItalic.woff2") format("woff2"),
    url("./fonts/Gilroy-SemiboldItalic.woff") format("woff"),
    url("./fonts/Gilroy-SemiboldItalic.ttf") format("truetype");
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: "Gilroy";
  src: url("./fonts/Gilroy-HeavyItalic.eot");
  src: local("Gilroy Heavy Italic"), local("Gilroy-HeavyItalic"),
    url("./fonts/Gilroy-HeavyItalic.eot?#iefix") format("embedded-opentype"),
    url("./fonts/Gilroy-HeavyItalic.woff2") format("woff2"),
    url("./fonts/Gilroy-HeavyItalic.woff") format("woff"),
    url("./fonts/Gilroy-HeavyItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: "Gilroy";
  src: url("./fonts/Gilroy-Extrabold.eot");
  src: local("Gilroy Extrabold"), local("Gilroy-Extrabold"),
    url("./fonts/Gilroy-Extrabold.eot?#iefix") format("embedded-opentype"),
    url("./fonts/Gilroy-Extrabold.woff2") format("woff2"),
    url("./fonts/Gilroy-Extrabold.woff") format("woff"),
    url("./fonts/Gilroy-Extrabold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("./fonts/Gilroy-BoldItalic.eot");
  src: local("Gilroy Bold Italic"), local("Gilroy-BoldItalic"),
    url("./fonts/Gilroy-BoldItalic.eot?#iefix") format("embedded-opentype"),
    url("./fonts/Gilroy-BoldItalic.woff2") format("woff2"),
    url("./fonts/Gilroy-BoldItalic.woff") format("woff"),
    url("./fonts/Gilroy-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "Gilroy";
  src: url("./fonts/Gilroy-UltraLightItalic.eot");
  src: local("Gilroy UltraLight Italic"), local("Gilroy-UltraLightItalic"),
    url("./fonts/Gilroy-UltraLightItalic.eot?#iefix")
      format("embedded-opentype"),
    url("./fonts/Gilroy-UltraLightItalic.woff2") format("woff2"),
    url("./fonts/Gilroy-UltraLightItalic.woff") format("woff"),
    url("./fonts/Gilroy-UltraLightItalic.ttf") format("truetype");
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: "Gilroy";
  src: url("./fonts/Gilroy-LightItalic.eot");
  src: local("Gilroy Light Italic"), local("Gilroy-LightItalic"),
    url("./fonts/Gilroy-LightItalic.eot?#iefix") format("embedded-opentype"),
    url("./fonts/Gilroy-LightItalic.woff2") format("woff2"),
    url("./fonts/Gilroy-LightItalic.woff") format("woff"),
    url("./fonts/Gilroy-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Gilroy";
  src: url("./fonts/Gilroy-Heavy.eot");
  src: local("Gilroy Heavy"), local("Gilroy-Heavy"),
    url("./fonts/Gilroy-Heavy.eot?#iefix") format("embedded-opentype"),
    url("./fonts/Gilroy-Heavy.woff2") format("woff2"),
    url("./fonts/Gilroy-Heavy.woff") format("woff"),
    url("./fonts/Gilroy-Heavy.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("./fonts/Gilroy-Thin.eot");
  src: local("Gilroy Thin"), local("Gilroy-Thin"),
    url("./fonts/Gilroy-Thin.eot?#iefix") format("embedded-opentype"),
    url("./fonts/Gilroy-Thin.woff2") format("woff2"),
    url("./fonts/Gilroy-Thin.woff") format("woff"),
    url("./fonts/Gilroy-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("./fonts/Gilroy-ThinItalic.eot");
  src: local("Gilroy Thin Italic"), local("Gilroy-ThinItalic"),
    url("./fonts/Gilroy-ThinItalic.eot?#iefix") format("embedded-opentype"),
    url("./fonts/Gilroy-ThinItalic.woff2") format("woff2"),
    url("./fonts/Gilroy-ThinItalic.woff") format("woff"),
    url("./fonts/Gilroy-ThinItalic.ttf") format("truetype");
  font-weight: 100;
  font-style: italic;
}

/* Custom Css */

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.title-1 {
  font-style: normal;
  font-weight: 100;
  font-size: 3.75rem;
  line-height: 4.39rem;
  letter-spacing: 0;
}

.title-2 {
  font-style: normal;
  font-weight: 900;
  font-size: 11.25rem;
  line-height: 13.16rem;
  letter-spacing: 0;
}

.carousel-indicators .active {
  background-color: #6fd449 !important;
}

.carousel-indicators [data-bs-target] {
  opacity: 1 !important;
}

.text_before {
  font-family: "Gilroy", sans-serif;
  font-style: normal;
  font-weight: 100;
  font-size: 3rem;
  line-height: 3rem;
  letter-spacing: 0;
  color: #fff;
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
}

.text_after {
  font-family: "Gilroy", sans-serif;
  font-style: normal;
  font-weight: 100;
  font-size: 3rem;
  line-height: 3rem;
  letter-spacing: 0;
  color: #fff;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}

.thumbnail_zoom {
  position: relative;
  width: 25rem;
  aspect-ratio: 16/9;
  background-color: blanchedalmond;

  & img {
    display: block;
    width: 100%;
  }
}

.before_img {
  position: absolute;
}

.after_img {
  opacity: 0;
}

main {
  display: grid;
  place-items: center;

  & img {
    display: block;
    max-width: 100%;
  }
}

.container-box {
  display: grid;
  place-content: center;
  position: relative;
  overflow: hidden;
  --position: 50%;
}

.image-container {
  max-width: 100%;
  aspect-ratio: 16/9;
}

.slider-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: left;
}

.image-before {
  position: absolute;
  inset: 0;
  width: var(--position);
}

.slider {
  position: absolute;
  inset: 0;
  cursor: pointer;
  opacity: 0;
  /* for Firefox */
  width: 100%;
  height: 100%;
}

.slider:focus-visible ~ .slider-button {
  outline: 5px solid black;
  outline-offset: 3px;
}

.slider-line {
  position: absolute;
  inset: 0;
  width: 0.05rem;
  height: 100%;
  background-color: #fff;
  /* z-index: 10; */
  left: var(--position);
  transform: translateX(-50%);
  pointer-events: none;
}

.slider-button {
  position: absolute;
  background-color: #fff;
  color: black;
  padding: 0.5rem;
  border-radius: 100vw;
  display: grid;
  place-items: center;
  top: 50%;
  left: var(--position);
  transform: translate(-50%, -50%);
  pointer-events: none;
  /* z-index: 100; */
  box-shadow: 1px 1px 1px hsl(0, 50%, 2%, 0.5);
}

@media screen and (max-width: 575px) {
  .title-1 {
    font-size: 1.5rem;
    line-height: 1.5rem;
  }

  .title-2 {
    font-size: 3rem;
    line-height: 3rem;
  }

  .carousel-indicators {
    margin-bottom: -1rem !important;
  }

  .carousel-indicators [data-bs-target] {
    width: 5px !important;
    height: 1px !important;
  }

  .modal-dialog {
    top: 25%;
  }

  .button_before {
    width: 1rem !important;
    left: -7px !important;
    padding-top: 1rem !important;
    padding-bottom: 4.75rem !important;
  }

  .button_after {
    width: 1rem !important;
    right: -7px !important;
    padding-top: 4.75rem !important;
    padding-bottom: 0.5rem !important;
  }

  .text_before,
  .text_after {
    font-size: 1rem;
    line-height: 1rem;
  }
}

@media screen and (min-width: 576px) {
  .text_before,
  .text_after {
    font-size: 1.5rem;
    line-height: 1.5rem;
  }
}

@media screen and (min-width: 768px) {
  .title-1 {
    font-size: 2rem;
    line-height: 3rem;
  }

  .title-2 {
    font-size: 4rem;
    line-height: 5rem;
  }

  .carousel-indicators [data-bs-target] {
    width: 10px !important;
    height: 2px !important;
  }

  .modal-dialog {
    top: 25%;
  }

  .button_before {
    left: -37px !important;
    padding-top: 1.5rem !important;
    padding-bottom: 7rem !important;
  }

  .button_after {
    right: -37px !important;
    padding-top: 7rem !important;
    padding-bottom: 1.5rem !important;
  }

  .text_before,
  .text_after {
    font-size: 1.5rem;
    line-height: 1.5rem;
  }
}

@media screen and (min-width: 992px) {
  .title-1 {
    font-size: 2.5rem;
    line-height: 2.5rem;
  }

  .title-2 {
    font-size: 6rem;
    line-height: 6rem;
  }

  .carousel-indicators [data-bs-target] {
    width: 15px !important;
    height: 3px !important;
  }

  .modal-dialog {
    top: 0;
  }

  .button_before {
    left: -20px !important;
    width: 2rem !important;
    padding-top: 2rem !important;
    padding-bottom: 12rem !important;
  }

  .button_after {
    right: -20px !important;
    width: 2rem !important;
    padding-top: 12rem !important;
    padding-bottom: 2rem !important;
  }

  .text_before,
  .text_after {
    font-size: 2rem;
    line-height: 2rem;
  }
}

@media screen and (min-width: 1200px) {
  .modal-dialog {
    top: 0;
  }

  .button_before {
    left: -20px !important;
    width: 3rem !important;
    padding-top: 2rem !important;
    padding-bottom: 18rem !important;
  }

  .button_after {
    right: -20px !important;
    width: 3rem !important;
    padding-top: 18rem !important;
    padding-bottom: 1.5rem !important;
  }

  .text_before,
  .text_after {
    font-size: 2rem;
    line-height: 2rem;
  }
}

@media screen and (min-width: 1400px) {
  .button_before {
    left: -20px !important;
    width: 3rem !important;
    padding-top: 3rem !important;
    padding-bottom: 18rem !important;
  }

  .button_after {
    right: -20px !important;
    width: 3rem !important;
    padding-top: 18rem !important;
    padding-bottom: 2rem !important;
  }

  .text_before,
  .text_after {
    font-size: 3rem;
    line-height: 3rem;
  }
}
